{% extends "main/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<body>
    <section>
        <div class="container">
        <!-- Контент -->
        {% block content%}
            <div class="container">
                <div class="row mt-1">
                    <div class="col-lg-2">
                        <!-- Пустой блок на усмотрение -->
                    </div>
                    <div class="col-lg-10">
                        <!-- Контент на странице -->
                        <div class="row">
                            <!-- Форма фильтров -->
                            {% block filter  %}
                                <div class="dropdown mb-2">
                                <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Фильтры
                                </button>
                        
                                <form action="" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
                                    <div class="form-check text-white mx-3">
                                        <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on">
                                        <input type="hidden" name="q" value="request.GET.q">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Товары по акции
                                        </label>
                                    </div>
                                    <p class="text-white mx-3 mt-3">Сортировать:</p>
                                    <div class="form-check text-white mx-3">
                                        <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default" checked>
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            По умолчанию
                                        </label>
                                    </div>
                                    <div class="form-check text-white mx-3">
                                        <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            От дешевых к дорогим
                                        </label>
                                    </div>
                                    <div class="form-check text-white mx-3">
                                        <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price">
                                        <label class="form-check-label" for="flexRadioDefault3">
                                            От дорогих к дешевым
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
                                </form>
                            </div>
                            {% endblock filter %}
                            
                            <!-- Карта товара -->
                            {% block goods %}
                            {% if products %}
                            <{% for product in products %}
                                <div class="col-lg-4 col-md-6 p-4">
                                <div class="card border-primary rounded custom-shadow">
                                    {% if product.image %}
                                    <img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}">
                                    {% else %}
                                    <img src="{% static "/deps/images/Not found image.png"%}" alt="Нет фото">
                                    {% endif %}
                                    <div class="card-body">
                                        <div class="product-card group cursor-pointer" 
                                        hx-get="{% url 'main:product' product.category.slug product.slug %}"
                                        hx-target="#main-content"
                                        hx-push-url="true">
                                        <div class="aspect-square overflow-hidden bg-gray-100 mb-4">
                                            <a href = "{% url 'main:product' product.category.slug product.slug %}">
                                                <p class="card-title text-blue-600 group-hover:underline">
                                                    {{ product.name }}
                                                </p>
                                            </a>
                                        </div>
                                    </div>
                                        <!--<a href="#">
                                            <p class="card-title">{{ obj.name }}</p>
                                        </a>-->
                                        <p class="card-text text-truncate">{{product.description}}.</p>
                                        <p class="product_id">id:{{ product.id }}</p>
                                        <div class="d-flex justify-content-between">
                                            <div class="sizes">
                                            {% for ps in product.productsize.all %}
                                                <span class="badge bg-info text-dark">
                                                    {{ ps.size.name }}: {{ ps.price }} руб.
                                                </span><br>
                                            {% empty %}
                                                <span class="text-muted">Размеры не указаны</span>
                                            {% endfor %}
                                        </div>
                                            <a href="#" class="btn">
                                                <img class="mx-1" src="{% static "/deps/icons/cart-plus.svg" %}" alt="Catalog Icon"
                                                    width="32" height="32">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                                <!-- Пагинация -->
                            {% block pagenation %}
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center my-4">
                                        <div class="custom-shadow d-flex">
                                            <li class="page-item disabled">
                                            <a class="page-link">Previous</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                            </li>
                                        </div>
                                    </ul>
                                </nav>   
                            {% endblock pagenation %}

                            {% else %}
                                <div class="my-5 pt-5 px-2 pb-2 bg-white custom-shadow rounded">
                                    <h2 class="m-2"><strong>Ничего не найдено!</strong></h2>
                                    <p class="m-2" style="font-size: 1.2rem;">товаров нет! иди нахуй!</p>
                                </div>
                            {% endif %}
                            
                            {% endblock goods %}
                        
                    </div>
                </div>
                {% endblock content %}
            </div>
    </section>
</body>

</html>