{% extends "main/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    {% block title%}
        Каталог
    {% endblock title%}

    {% block begin %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "deps/css/bootstrap/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "deps/css/my_css.css" %}">
        <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "deps/favicon/apple-touch-icon.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "deps/favicon/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "deps/favicon/favicon-16x16.png" %}">
        <link rel="manifest" href="{% static "deps/favicon/site.webmanifest" %}">
    {% endblock begin %}
</head>

<body>
    <section>
        <div class="container">
        <!-- Контент -->
        {% block content%}
            <div class="container">
                <div class="row mt-1">
                    <div class="col-lg-2">
                        <!-- Пустой блок на усмотрение -->
                    </div>
                    <div class="col-lg-10">
                        <!-- Контент на странице -->
                        <div class="row">
                            <!-- Форма фильтров -->
                            {% block filter  %}
                                <div class="dropdown mb-2">
                                <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Фильтры
                                </button>
                        
                                <form action="" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
                                    <div class="form-check text-white mx-3">
                                        <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on">
                                        <input type="hidden" name="q" value="request.GET.q">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Товары по акции
                                        </label>
                                    </div>
                                    <p class="text-white mx-3 mt-3">Сортировать:</p>
                                    <div class="form-check text-white mx-3">
                                        <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default" checked>
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            По умолчанию
                                        </label>
                                    </div>
                                    <div class="form-check text-white mx-3">
                                        <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            От дешевых к дорогим
                                        </label>
                                    </div>
                                    <div class="form-check text-white mx-3">
                                        <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price">
                                        <label class="form-check-label" for="flexRadioDefault3">
                                            От дорогих к дешевым
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
                                </form>
                            </div>
                            {% endblock filter %}
                            
                            <!-- Карта товара -->
                            {% block goods %}
                                {% for a in Product%}
                                <div class="col-lg-4 col-md-6 p-4">
                                    <div class="card border-primary rounded custom-shadow">
                                        <img src="../deps/images/goods/double bed.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <a href="#">
                                                <p class="card-title">{{a.name}}</p>
                                            </a>
                                            <p class="card-text text-truncate">{{a.description}}</p>
                                            <p class="product_id">{{a.id}}</p>
                                            <div class="d-flex justify-content-between">
                                                <p><s>{{a.price}}</s> $</p>
                                                <!--<p><strong></strong></p>
                                                <span class="badge bg-warning text-dark">Скидка 10.00 %</span>-->
                                                <!-- <p><strong>100.00 $</strong></p> -->
                                                <a href="#" class="btn">
                                                    {% if product.image %}
                                                        <img src="{{ product.image.url }}" alt="{{ product.name }}" alt="Catalog Icon" width="32" height="32">
                                                    {% else %}
                                                        <img src="/static/images/no-image.png" alt="Нет фото">
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            {% endblock goods %}
                    {% endblock content %}
                        <!-- Пагинация -->
                        {% block pagenation %}
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center my-4">
                                    <div class="custom-shadow d-flex">
                                        <li class="page-item disabled">
                                        <a class="page-link">Previous</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                        </li>
                                    </div>
                                </ul>
                            </nav>   
                        {% endblock pagenation %}
                        
                    </div>
                </div>
            </div>
    </section>
</body>

</html>