body {
  background-image: url("https://media.istockphoto.com/id/468515806/ru/%D1%84%D0%BE%D1%82%D0%BE/%D0%BF%D0%B8%D1%86%D1%86%D0%B0.jpg?s=612x612&w=0&k=20&c=L9uJQD59IAmqlLb0XjYKM4LDKIf9GhKT2dA-HeszUmQ=");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
  box-shadow: 5px 5px 25px 19px #000000;
}

.product_id {
  color: rgb(128, 128, 128);
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}

.size {
  position: absolute;
  top: 84%;
  right: 40%;
}

.size1 {
  position: absolute;
  top: 84%;
  right: 66%;
}